[submodule "ccan"]
	path = 3rdparty/ccan

# original url:
#	url = git://git.ozlabs.org/~ccan/ccan
# but people are sometimes blocked to access git:// because of firewalls.
#
# Also it is better to not depend on thirdparty hosting sites
	url = https://lab.nexedi.cn/mirror/ccan.git
